.containerLink {
  display: flex;
  flex-direction: column;

  .links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin-left: 13%;
    margin-top: 20px;

    .iconLink {
      display: flex;

      .textLinkMenu {
        margin-left: 5px;
      }

      .imgIcon {
        width: 15px;
        height: 15px;
      }
    }
  }
}