@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.containerHeaderCard {
  position: absolute;
  transition: 0.4s;
  height: 10vh;
  .navbarCardHeader {
    display: none;

    .descriptionApllicationText {
      padding: 15px;
      font-size: 18px;
      font-family: "DM Sans", sans-serif;

    }

    .btnOnePlusHeaderCard {
      border: none;
      position: absolute;
      right: 20;
      top: 20;
      background-color: rgba(255, 255, 255, 0);
      .plus {
        transform: rotate(45deg);
      }
    }
  }
  
  .descriptionApplicationTextsOne {
    display: none;
  }

  .itemOneImgCard {
    display: none;
  }
}

.containerHeaderCardActive {
  transition: 0.4s;
  position: absolute;
  left: 0;
  z-index: 20;
  background-color: #111111;
  color: white;
  bottom: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s;

  .navbarCardHeader {
    display: flex;

    .descriptionApllicationText {
      padding: 15px;
      font-size: 18px;
      font-family: "DM Sans", sans-serif;

    }

    .btnOnePlusHeaderCard {
      border: none;
      position: absolute;
      right: 20;
      top: 20;
      background-color: rgba(255, 255, 255, 0);
      .plus {
        transform: rotate(45deg);
      }
    }
  }

  .itemOneImgCard {
    display: block;
    background-color: rgba(255, 0, 0, 0);
    width: 100%;

    .cardDivHeader {
      display: flex;
      justify-content: center;
      align-items: center;

      .cardHeader {
        width: 90%;
        border-radius: 15px;
      }
    }
  }

  .descriptionApplicationTextsOne {
    width: 90%;
    background-color: rgba(255, 0, 0, 0);
    margin-left: 5%;

    .headerApplicationNew {
      margin-top: 20px;
    }

    .descriptionTextApplicationNew {
      margin-top: 20px;
    }

    .descriptionTextApplication {
      width: 80%;
    }

    .statusApplicationContainer {
      display: flex;

      .imgStatus {
        width: 20px;
        height: 20px;
      }

      .descriptionTextApplication {
        margin-left: 5px;
      }
    }
  }

  .btnOneCheckApplication {
    width: 40%;
    height: 40px;
    background-color: rgba(0, 255, 204, 0);
    border: 1px solid rgb(0, 255, 204);
    color: rgb(0, 255, 204);
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1px;
  }
}