.containerHome {
	display: flex;


	.sidebarHome {
		width: 20%;
		background-color: rgba(255, 0, 0, 0);
		height: 100vh;
	}

	.blockCenterHome {
		width: 60%;
		height: 100vh;
		border-right: 1px rgb(236, 236, 236) solid;
		border-left: 1px rgb(236, 236, 236) solid;
		background-color: rgb(245, 246, 247);
		display: flex;

		// scrollbar ItemLeftHome

		.itemLeftHome::-webkit-scrollbar {
			width: 4px;
		}
		.itemLeftHome::-webkit-scrollbar-track {
			background: rgba(255, 166, 0, 0);
		}
		.itemLeftHome::-webkit-scrollbar-thumb {
			background-color: rgba(228, 228, 228, 0);
			border-radius: 20px;
			border: 3px solid rgba(255, 166, 0, 0);
		}

		.itemLeftHome {
			width: 70%;
			overflow: scroll;

			.itemNewPost {
				display: flex;
				width: 90%;
				background-color: rgb(255, 255, 255);
				margin-left: 5%;
				height: 40px;
				margin-top: 25px;
				border-radius: 15px;
				border: 1px solid rgb(218, 218, 218);

				.avatarItemNewPost {
					border-radius: 60px;
					width: 30px;
					height: 30px;
					padding: 5px;
					margin-left: 10px;
				}

				.inpItemNewPost {
					width: 70%;
					border: none;
					outline: none;
					font-family: "Work Sans", sans-serif;
					font-optical-sizing: auto;
					font-weight: 500;
					font-style: normal;
					font-size: 17px;
					padding-left: 10px;
				}

				.btnSmail {
					width: 40px;
					height: 40px;
					cursor: pointer;
					margin-left: 10px;
					background-color: rgba(255, 255, 255, 0);
					border: none;

					.imgSmailBtn {
						width: 22px;
						height: 20px;
					}
				}
			}
		}

		.itemRightHome {
			width:30%;
			background-color: rgba(255, 0, 0, 0);
			

			.itemUpcomingEventsActive {
				animation: shake 1s infinite;
				display: flex;
				flex-direction: column;
				width: 95%;
				background-color: rgb(255, 255, 255);
				height: 50px;
				margin-top: 25px;
				border-radius: 15px;
				border: 1px solid rgb(218, 218, 218);
				height: 400px;
				

				.upBlockUpcomingEvents {
					height: 60px;
					background-color: rgba(255, 0, 0, 0);
					display: flex;
					align-items: center;

				.headerUpcomingEvents {
					font-family: "Work Sans", sans-serif;
					font-optical-sizing: auto;
					font-weight: 500;
					font-style: normal;
					font-size: 23px;
					margin-left: 15px;
				}}

				.activeButton {
					transition: 0.5s;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: -50px;
					margin-left: -10px;
					border-radius: 30px;
					border: none;
					width: 25px;
					cursor: pointer;
					background-color: rgb(216, 216, 216);

					.crossIconActiveButton { 
						width: 90%;
					}
				}
			}

			.itemUpcomingEventsBlock {
				display: block;
			}

			.itemUpcomingEventsBlockActive {
				display: none;
			}

			.itemUpcomingEvents {
				display: flex;
				flex-direction: column;
				width: 95%;
				background-color: rgb(255, 255, 255);
				height: 50px;
				margin-top: 25px;
				border-radius: 15px;
				border: 1px solid rgb(218, 218, 218);
				height: 400px;

				.upBlockUpcomingEvents {
					height: 60px;
					background-color: rgba(255, 0, 0, 0);
					display: flex;
					align-items: center;

					.activeButton {
						display: none;
					}

					.headerUpcomingEvents {
						transition: 0.5s;
						font-family: "Work Sans", sans-serif;
						font-optical-sizing: auto;
						font-weight: 500;
						font-style: normal;
						font-size: 23px;
						margin-left: 15px;
					}

					.btnPlus {
						margin-left: 50px;
						width: 20px;
						font-weight: 200;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 20px;
						font-size: 20px;
						border: 3px solid rgb(0, 0, 0);
						border-radius: 50px;
						cursor: pointer;
						background-color: rgba(255, 255, 255, 0);
					}

				}

				.lineStyle {
					border: none;
					height: 1px;
					background-color: rgb(218, 218, 218);
				}

				.containerCardAcquaintances {
					overflow: scroll;
				}
			}

			@keyframes shake {
				0%, 100% { transform: rotate(1deg); }
				20% { transform: rotate(-1deg); }
				30% { transform: rotate(1deg); }
				40% { transform: rotate(-1deg); }
				50% { transform: rotate(1deg); }
				60% { transform: rotate(-1deg); }
				80% { transform: rotate(1deg); }
				90% { transform: rotate(-1deg); }
		}

			// scroll style itemUpcomingEvents
			.containerCardAcquaintances::-webkit-scrollbar {
				width: 1px;
			}
			.containerCardAcquaintances::-webkit-scrollbar-track {
				background: rgba(255, 166, 0, 0);  
			}
			.containerCardAcquaintances::-webkit-scrollbar-thumb {
				background-color: rgb(231, 231, 231);
				border-radius: 20px;
			}

			.itemVisit {
				display: flex;
				flex-direction: column;
				width: 95%;
				background-color: rgb(255, 255, 255);
				margin-top: 25px;
				border-radius: 15px;
				border: 1px solid rgb(218, 218, 218);
				height: 400px;

				.headerItemVisit {

					.headerItemVisitText {
						font-family: "Work Sans", sans-serif;
						font-optical-sizing: auto;
						font-weight: 500;
						font-style: normal;
						font-size: 20px;
						margin-left: 15px;
						margin-top: 10px;
					}

					.lineStyleItemVisit {
						border: none;
						height: 1px;
						background-color: rgb(218, 218, 218);
						margin-top: 10px;
					}

					.integrationImage {
						width: 90%;
						margin-left: 5%;
						margin-top: 5%;
					}

					.linkVisitIntegration {
						color: black;
						font-family: "Work Sans", sans-serif;
						font-optical-sizing: auto;
						font-weight: 400;
						font-style: normal;
						font-size: 15px;
						margin-left: 5%;
						margin-top: 5%;
					}
				}
			}
		}
	}

	.blockGroupHome {
		width: 20%;
		height: 100vh;
		.cardGroupContainer {
			width: 94%;
			background-color: rgba(255, 0, 0, 0);
			margin-left: 3%;
			margin-top: 25px;
			height: 80vh;
			border-radius: 15px;
		}		
	}
}