.containerHome {
	display: flex;


	.sidebarHome {
		width: 20%;
		background-color: rgba(255, 0, 0, 0);
		height: 100vh;
	}

	.blockCenterHome {
		width: 60%;
		height: 100vh;
		border-right: 1px rgb(236, 236, 236) solid;
		border-left: 1px rgb(236, 236, 236) solid;
		background-color: rgb(245, 246, 247);
		display: flex;

		.itemLeftHome {
			width: 70%;

			.itemNewPost {
				display: flex;
				width: 90%;
				background-color: rgb(255, 255, 255);
				margin-left: 5%;
				height: 50px;
				margin-top: 50px;
				border-radius: 15px;
				border: 1px solid rgb(218, 218, 218);

				.avatarItemNewPost {
					border-radius: 60px;
					width: 40px;
					height: 40px;
					padding: 5px;
					margin-left: 10px;
				}

				.inpItemNewPost {
					width: 70%;
					border: none;
					outline: none;
					font-family: "Work Sans", sans-serif;
					font-optical-sizing: auto;
					font-weight: 500;
					font-style: normal;
					font-size: 17px;
					padding-left: 10px;
				}

				.btnSmail {
					width: 40px;
					height: 40px;
					cursor: pointer;
					margin-top: 5px;
					margin-left: 10px;
					background-color: rgba(255, 255, 255, 0);
					border: none;

					.imgSmailBtn {
						width: 22px;
						height: 20px;
					}
				}
			}

			.itemPostDone {
				width: 90%;
				background-color: rgb(255, 255, 255);
				margin-left: 5%;
				height: 600px;
				margin-top: 30px;
				border-radius: 15px;
				border: 1px solid rgb(218, 218, 218);

				.avatarAndInfoItemPostDone {
					display: flex;
					width: 100%;

					.avatarItemPostDone {
						width: 50px;
						height: 50px;
						border-radius: 50px;
						margin-left: 5%;
						margin-top: 20px;
					}

					.infoItemPostDone {
						margin-top: 20px;
						margin-left: 10px;

						.namedAuthorItemPostDone {
							font-family: "Work Sans", sans-serif;
							font-optical-sizing: auto;
							font-weight: 500;
							font-style: normal;
							font-size: 20px;
						}

						.locationsAuthorItemPostDone {
							font-family: "Work Sans", sans-serif;
							font-optical-sizing: auto;
							font-weight: 300;
							font-style: normal;
						}
					}
				}

				.textItemPostDone {
					width: 100%;

					.textPostItemPostDone {
						width: 90%;
						margin-left: 5%;
						margin-top: 20px;
						font-family: "Work Sans", sans-serif;
						font-optical-sizing: auto;
						font-weight: 400;
						font-style: normal;
					}
				}

				.fotoPostDone {
					width: 100%;
					display: flex;

					.igmOnePostDone {
						width: 44%;
						margin-left: 5%;
						border-radius: 10px 0 0 10px;
						margin-top: 20px;
						cursor: pointer;
					}

					.igmTwoPostDone {
						width: 44%;
						margin-left: 2%;
						border-radius: 0px 10px 10px 0px;
						margin-top: 20px;
						margin-right: 5%;
						cursor: pointer;
					}
				}

				.lineStylePostDone {
					border: none;
					height: 1px;
					background-color: rgb(218, 218, 218);
					margin-top: 20px;
					width: 90%;
					margin-left: 5%;
				}

				.lineStylePostDoneTwo {
					border: none;
					height: 1px;
					background-color: rgb(218, 218, 218);
					margin-top: 10px;
					width: 90%;
					margin-left: 5%;
				}

				.btnsItemPostDone {
					display: flex;
					width: 100%;

					.btnsOneItemPostDone {
						margin-left: 5%;
						background-color: rgba(255, 0, 0, 0);
						width: 75%;

						.btnLikePostDone {
							width: 25px;
							height: 25px;
							padding-left: 20px;
							margin-top: 10px;
							cursor: pointer;
						}
					}

					.btnsTwoItemPostDone {
						background-color: rgba(21, 255, 0, 0);
						width: 15%;
						display: flex;
						.btnLikePostDone {
							width: 25px;
							height: 25px;
							padding-left: 20px;
							margin-top: 10px;
							cursor: pointer;
						}
					}
				}

				.addedComentsItemPostDone {
					width: 100%;
					
					.likesCommentRepostTextItemPostDone {
						display: flex;

						.likes {
							margin-left: 5%;
						}

						.comments {
							margin-left: 55%;
						}

						.reposts {
							margin-left: 5%;
						}
					}
				}
			}
		}

		.itemRightHome {
			width: 30%;

			.itemUpcomingEvents {
				display: flex;
				flex-direction: column;
				width: 90%;
				background-color: rgb(255, 255, 255);
				height: 50px;
				margin-top: 50px;
				border-radius: 15px;
				border: 1px solid rgb(218, 218, 218);
				height: 400px;

				.upBlockUpcomingEvents {
					height: 60px;
					background-color: rgba(255, 0, 0, 0);
					display: flex;
					align-items: center;

					.headerUpcomingEvents {
						font-family: "Work Sans", sans-serif;
						font-optical-sizing: auto;
						font-weight: 500;
						font-style: normal;
						font-size: 23px;
						margin-left: 15px;
					}

					.btnPlus {
						margin-left: 50px;
						width: 20px;
						font-weight: 200;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 20px;
						font-size: 20px;
						border: 3px solid rgb(0, 0, 0);
						border-radius: 50px;
						cursor: pointer;
						background-color: rgba(255, 255, 255, 0);
					}

				}
				.lineStyle {
					border: none;
					height: 1px;
					background-color: rgb(218, 218, 218);
				}
			}
		}
	}

	.blockGroupHome {
		width: 20%;
		background-color: aqua;
		height: 100vh;
	}
}